<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://mglgaming.site/poker.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>https://mglgaming.site/appIcon57x57.png</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>https://mglgaming.site/appIcon512x512.png</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.diverse.mglpoker</string>
				<key>bundle-version</key>
				<string>1.0.0</string>
				<key>kind</key>
				<string>software</string>
				<key>platform-identifier</key>
				<string>com.apple.platform.iphoneos</string>
				<key>title</key>
				<string>poker</string>
			</dict>
			<key>thinned-assets</key>
			<array>
				<dict>
					<key>bundle-identifier</key>
					<string>com.diverse.mglpoker</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://mglgaming.site/poker-F94CFAF9-D831-47F1-941B-A375C54A859D.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPad8,12</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,8</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,3</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,7</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,6</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,9</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,6</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,3</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,11</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,4</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,9</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,11</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,1</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,4</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,2</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,2</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,8</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,3</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad13,1</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,1</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,10</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad13,2</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,4</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,12</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,3</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,5</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,10</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,4</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,1</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,7</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,2</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,5</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPad13,2</string>
						<string>iPad8,11</string>
						<string>iPad13,1</string>
						<string>iPad8,10</string>
						<string>iPad8,12</string>
						<string>iPad8,9</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.diverse.mglpoker</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://mglgaming.site/poker-2812D99C-8B74-4FE5-9129-35FD252A01EB.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone9,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,1</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,3</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone12,8</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone12,8</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,1</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,4</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPhone12,8</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.diverse.mglpoker</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://mglgaming.site/poker-3D29D7C4-CDEF-4EDF-891E-798C46DEB130.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone10,6</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,3</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,6</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone12,3</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,4</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone13,2</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone13,4</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone12,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,5</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone12,5</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,2</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,2</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone13,1</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,5</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,6</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,4</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,2</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone13,3</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone12,5</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,6</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPhone13,1</string>
						<string>iPhone13,3</string>
						<string>iPhone12,5</string>
						<string>iPhone12,3</string>
						<string>iPhone13,4</string>
						<string>iPhone13,2</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.diverse.mglpoker</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://mglgaming.site/poker-720DA621-BABC-41D9-9FBA-B7B1CFBE21DD.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone11,8</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,8</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPhone11,8</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.diverse.mglpoker</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://mglgaming.site/poker-4F806166-BC1D-4B0B-9B71-75644D3E9F28.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone8,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,2</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array/>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.diverse.mglpoker</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://mglgaming.site/poker-D5C0A911-E801-486B-83F5-761E726677D9.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPad4,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,11</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,7</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,8</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,6</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,7</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,5</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,5</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,7</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,5</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,11</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,6</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,8</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,12</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,8</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,6</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,7</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,9</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,5</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,12</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,9</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,6</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,8</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad4,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array/>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.diverse.mglpoker</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://mglgaming.site/poker-F4D7EAA9-BA63-4D15-BEE1-236D173A6C02.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone10,6</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,6</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,5</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,6</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,5</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,6</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPhone11,6</string>
						<string>iPhone11,2</string>
						<string>iPhone11,4</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.diverse.mglpoker</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://mglgaming.site/poker-09AB7C6D-0C00-4A36-A243-7595DE4A5445.ipa</string>
					<key>variantDescriptors</key>
					<array/>
					<key>variantIds</key>
					<array>
						<string>iPhone7,1</string>
						<string>iPhone8,2</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.diverse.mglpoker</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://mglgaming.site/poker-D789FC50-8D78-4D94-8F62-06677D8E41B7.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPad7,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,5</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,5</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,6</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,6</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,8</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,7</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,8</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad8,7</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPad11,4</string>
						<string>iPad8,1</string>
						<string>iPad8,6</string>
						<string>iPad8,3</string>
						<string>iPad8,8</string>
						<string>iPad8,5</string>
						<string>iPad11,1</string>
						<string>iPad8,2</string>
						<string>iPad8,7</string>
						<string>iPad11,2</string>
						<string>iPad11,3</string>
						<string>iPad8,4</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.diverse.mglpoker</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://mglgaming.site/poker-7D81F25F-E087-4C9B-8B9A-5309BD1ECA38.ipa</string>
					<key>variantDescriptors</key>
					<array/>
					<key>variantIds</key>
					<array>
						<string>iPhone9,1</string>
						<string>iPhone10,1</string>
						<string>iPhone10,4</string>
						<string>iPhone9,3</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.diverse.mglpoker</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://mglgaming.site/poker-F9B1F217-02E9-49EF-9C1E-5B01B0049658.ipa</string>
					<key>variantDescriptors</key>
					<array/>
					<key>variantIds</key>
					<array>
						<string>iPad4,9</string>
						<string>iPad5,3</string>
						<string>iPad4,1</string>
						<string>iPad4,6</string>
						<string>iPad6,8</string>
						<string>iPad6,7</string>
						<string>iPad4,3</string>
						<string>iPad4,8</string>
						<string>iPad7,6</string>
						<string>iPad5,2</string>
						<string>iPad4,5</string>
						<string>iPad5,4</string>
						<string>iPad6,11</string>
						<string>iPad7,5</string>
						<string>iPad4,2</string>
						<string>iPad5,1</string>
						<string>iPad4,7</string>
						<string>iPad6,12</string>
						<string>iPad4,4</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.diverse.mglpoker</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://mglgaming.site/poker-2090252E-9783-4539-8D6C-E14B28482DD1.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone8,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone7,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone7,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array/>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.diverse.mglpoker</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://mglgaming.site/poker-64EE4F09-BE40-439D-A443-714A30D0AA19.ipa</string>
					<key>variantDescriptors</key>
					<array/>
					<key>variantIds</key>
					<array>
						<string>iPad7,4</string>
						<string>iPad7,2</string>
						<string>iPad6,4</string>
						<string>iPad7,3</string>
						<string>iPad7,1</string>
						<string>iPad6,3</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.diverse.mglpoker</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://mglgaming.site/poker-B4F974B8-7B7F-4235-9DC7-C0A7BDF2D062.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone12,1</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,8</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone11,8</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone12,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPhone12,1</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.diverse.mglpoker</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://mglgaming.site/poker-501367C8-D526-4745-8DD5-C55574E87268.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone8,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPod7,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone6,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone6,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPod7,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone7,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone7,2</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone6,2</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone6,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPod9,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPod9,1</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.diverse.mglpoker</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://mglgaming.site/poker-1943CB0E-58B3-48A1-A5BB-052D76F7E66C.ipa</string>
					<key>variantDescriptors</key>
					<array/>
					<key>variantIds</key>
					<array>
						<string>iPhone10,5</string>
						<string>iPhone10,3</string>
						<string>iPhone9,4</string>
						<string>iPhone10,6</string>
						<string>iPhone9,2</string>
						<string>iPhone10,2</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.diverse.mglpoker</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://mglgaming.site/poker-1DFD047C-114E-4EA7-8EE2-48E1D30D45BC.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone10,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,1</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,4</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,3</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone10,4</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,1</string>
							<key>os-version</key>
							<string>12.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone9,3</string>
							<key>os-version</key>
							<string>12.2</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array/>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.diverse.mglpoker</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://mglgaming.site/poker-06E6D7FC-DE83-411F-AF35-4AFC26F4320A.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPad11,6</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,7</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,12</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,11</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,8</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,5</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad11,7</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,7</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,12</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,2</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,4</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,6</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,8</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,3</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,11</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,5</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,1</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,6</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad6,11</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,12</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,2</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad5,3</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,11</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPad7,12</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array>
						<string>iPad11,7</string>
						<string>iPad11,6</string>
						<string>iPad7,12</string>
						<string>iPad7,11</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.diverse.mglpoker</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://mglgaming.site/poker-F19ACD02-9C97-4E0D-975D-FD7F4D1C5B7B.ipa</string>
					<key>variantDescriptors</key>
					<array/>
					<key>variantIds</key>
					<array>
						<string>iPhone8,4</string>
						<string>iPhone6,2</string>
						<string>iPhone7,2</string>
						<string>iPhone8,1</string>
						<string>iPod7,1</string>
						<string>iPhone6,1</string>
					</array>
				</dict>
				<dict>
					<key>bundle-identifier</key>
					<string>com.diverse.mglpoker</string>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>https://mglgaming.site/poker-E084F931-E738-4CAB-8AE2-B72F1DAB98DA.ipa</string>
					<key>variantDescriptors</key>
					<array>
						<dict>
							<key>device</key>
							<string>iPhone8,1</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,4</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPod9,1</string>
							<key>os-version</key>
							<string>14.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPod9,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,1</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
						<dict>
							<key>device</key>
							<string>iPhone8,4</string>
							<key>os-version</key>
							<string>13.0</string>
						</dict>
					</array>
					<key>variantIds</key>
					<array/>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
